@model IEnumerable<RealEstate.Agent>

@{
    ViewBag.Title = "Agent";
}





@*<style>
    .user-row {
        margin-bottom: 14px;
    }

    .user-row:last-child {
        margin-bottom: 0;
    }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

    .dropdown-user:hover {
        cursor: pointer;
    }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
    .toppad
    {margin-top:20px;
    }
    </style>

    <script>
        $(document).ready(function () {
            var panels = $('.user-infos');
            var panelsButton = $('.dropdown-user');
            panels.hide();

            //Click dropdown
            panelsButton.click(function () {
                //get data-for attribute
                var dataFor = $(this).attr('data-for');
                var idFor = $(dataFor);

                //current button
                var currentButton = $(this);
                idFor.slideToggle(400, function () {
                    //Completed slidetoggle
                    if (idFor.is(':visible')) {
                        currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                    }
                    else {
                        currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                    }
                })
            });


            $('[data-toggle="tooltip"]').tooltip();

            $('button').click(function (e) {
                e.preventDefault();
                alert("This is a demo.\n :-)");
            });
        });
    </script>

    <div class="container" style="background-color:gainsboro;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aslam</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 col-lg-4 " align='center'> <img alt="User Pic" src="~/images/jones.jpg" class="img-circle img-responsive" width="100" height="100"> </div>
                        <div class="row">


                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                              <dl>
                                <dt>DEPARTMENT:</dt>
                                <dd>Administrator</dd>
                                <dt>HIRE DATE</dt>
                                <dd>11/12/2013</dd>
                                <dt>DATE OF BIRTH</dt>
                                   <dd>11/12/2013</dd>
                                <dt>GENDER</dt>
                                <dd>Male</dd>
                              </dl>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>

                                        <tr>
                                            <th>Home Address:</th>
                                            <td>DHA Phase 3 Y Block Commercial Market Inner Circle</td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td><a href="mailto:info@support.com">info@support.com</a></td>
                                        </tr>
                                    <th>Phone Number:</th>
                                    <td>
                                        123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                                    </td>



                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@

<body style="background-color:mintcream;">
</body>

<div class="main">
    <div class="header">
        <img src="~/images/h3.jpg" width="1350" height="170">
    </div>
</div>

<br />
@foreach (var v in Model)
{

  <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="single-agent">
                    <div class="counts pull-right">

                    </div>
                    <h2 class="page-title" style="color:cornflowerblue;">@v.Name</h2>
                    @*<div class="well-lg">*@
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src=@v.Picture alt="Atif Iqbal" class="img-thumbnail">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p>@v.About_Agent</p>
                        </div>
                    </div>
                    @*</div>*@
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="agent-contact-details">
                                <h4>Contact Details</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"> <span class="badge">@v.Phone_Number</span> Mobile Phone </li>
                                    <li class="list-group-item"> <span class="badge">@v.Office_Number</span> Work Phone</li>
                                    <li class="list-group-item"> <span class="badge">@v.Email</span> Email </li>
                                    <li class="list-group-item">

                                        <a href="https://www.facebook.com" target="_blank"><img src="~/images/twitter.png" height="20"></a>
                                        <a href="https://www.facebook.com" target="_blank"><img src="~/images/facebook.png" height="20"></a>
                                        <a href="https://www.facebook.com" target="_blank"><img src="~/images/google_32.png" height="20"></a>

                                        @*<div class="social-icons"><a href="https://www.facebook.com/ChohanEstatePk" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://plus.google.com/+ChohanEstateLahore/about" target="_blank"><i class="fa fa-google-plus"></i></a>	  </div>*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<div class="row">
    <h4 style="color:#0033CC">Post your property in Real Estate We do not deal with fake property</h4>

    <p>

        <a href="Postproperty"><img src="http://chohanestate.com/wp-content/uploads/2014/06/post2.png" alt="post2" class="alignnone size-full wp-image-10552" /></a>
    </p>


</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <form role="form" action="/Home/Agentadded" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="Agent Name" style="width:435px">
                        </div>
                        <div class="input-group">
                         <input type="text" class="form-control" name="email" placeholder="Email" style="width:435px;margin-top:15px">
                        </div> 
                        <div class="input-group">
                            <input type="text" class="form-control" name="phone" placeholder="Phone No" style="width:435px;margin-top:15px">
                        </div> 
                        <div class="input-group">
                            <input type="text" class="form-control" name="officeNo" placeholder="Office No" style="width:435px;margin-top:15px">
                        </div> 
                        <div class="input-group">
                            <input type="text" class="form-control" name="adress" placeholder="Adress" style="width:435px;margin-top:15px">
                        </div> 
                        <div class="input-group">
                            <input type="text" class="form-control" name="cnic" placeholder="CNIC" style="width:435px;margin-top:15px">
                        </div>
                        <p><strong>Upload Picture &nbsp;&nbsp;</strong><span class="wpcf7-form-control-wrap file-963"><input type="file" name="file-963" value="1" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false" /></span></p>
                    </div>

                    


                    @*<div class="wpcf7" id="wpcf7-f9183-p9344-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form name="" action="~/Home/Agentadded" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="9183" />
                                <input type="hidden" name="_wpcf7_version" value="4.1.1" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9183-p9344-o1" />
                                <input type="hidden" name="_wpnonce" value="dbabd527e4" />
                            </div>
                            <p>
                                <strong>Agent Name </strong>(required)<br />
                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                            </p>
                            <p>
                                <strong>Agent Email</strong> (required)<br />
                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                            </p>
                            <p>
                                <strong>Agent phone No.</strong>(required)<br />
                                <span class="wpcf7-form-control-wrap text-502"><input type="text" name="text-502" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                            </p>
                            <p>
                                <strong>OFFice Number</strong>(required)<br />
                                <span class="wpcf7-form-control-wrap text-502"><input type="text" name="text-503" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                            </p>
                            <p>
                                <strong>About You </strong>(required)<br />
                                <span class="wpcf7-form-control-wrap your-name"><textarea name="about_you" value="" cols="15" rows="10" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span>
                            </p>

                            <p>
                                <strong>Address</strong><br />
                                <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                            </p>
                            <p>
                                <strong>CNIC</strong><br />
                                <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-Cnic" value="" size="60" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                            </p>
                            <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>*@

                    <div class="modal-footer">
                        <button class="form-control btn btn-primary" type="submit">Ok</button>
                    </div>
                    @*<div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">progress</span>
                            </div>
                        </div>*@
                    <!-- /.modal-footer -->

                </form>

            </div> <!-- /.modal-body -->


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Agent
</button>
